/* 
    Created on : 30 avr. 2021, 03:57:09
    Author     : mustapha
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#bloc-page {
    min-height: 460px;
    height: 100vh;
    margin: 0;
    background-image: url('../img/nature.jpg');
    background-size: cover;
}

header{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    border-bottom: 1px solid seashell;
}

header h1{
    margin: 0;
    padding: 0 5%;
    color: seashell;
}

header button {
    width: 100px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    background-color: rgb(255, 245, 238);  
}

header button a{
    color: salmon;
    text-decoration: none;
}

header button:hover{
    background-color: salmon;
    color: seashell
}
header button a:hover{
    color: seashell;
}

section {
     /* hauteur compléte de la surface visible du navigateur */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 20px;
    /*faire remonter le formulaire
    margin-top: -5em;*/
}

input{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.6);
}

input:focus{
    background-color: white;
}

input[type="submit"]{
    font-weight: bold;
    background-color: rgb(255, 245, 238);
    color: salmon;
}

input[type="submit"]:hover {
    background-color: salmon;
    color: seashell;
}

#btnConnexion{
     display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: mediumseagreen;
}

#btnConnexion a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#btnConnexion:hover{
    background-color: salmon;
}

#bloc-alert{
    color: red;
    font-style: italic;
    margin: 10px auto;
    width: 500px;
    padding: 6px 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.6);
}

